<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/e Inheritance Mapping/src/com/emp/AddEmployee_Inheritance_Mapping.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.emp.AddEmployee_Inheritance_Mapping"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="e Inheritance Mapping"/>
</launchConfiguration>
